@import "../src/scss/variables.scss";

.footer {
    height: 209px;
    background-color: $footer-background-color;
    padding: 20px;
    text-align: center;
    display: grid;
    place-items: center;
}

.footerText {
    color: $color-tertiary;
}