@import "../scss/variables.scss";

.apartment-page {


    .apartment__description__area {
        display: flex;
        gap: 1rem;
        @media screen and (width <= 768px) {
            flex-direction: column;
        }
        overflow: hidden;
    }

    
}