$font-primary: "Montserrat", sans-serif;
$color-primary: #ff6060;
$color-secondary: #863535;
$color-tertiary: white;
$grid-background-dark: #F6F6F6;
$footer-background-color: black;
$background-light: #d8d4d4;